<div class="container col-sm-10 col-sm-offset-1 ">
    <div class="panel panel-default">
        <div class="panel-heading panel-header-normal"> Add User </div>

        <div class="panel-body">
            <form name="addUser">

                <div class="row">
                    <div class="form-group">
                        <label class="col-sm-2 text-center" for="username"> Username <span class="required">*</span></label>
                        <input class="form-control col-sm-2" type="text" name="username" id="username" ng-model="$parent.username" required/>

                        <label for="password" class="col-sm-2 text-center"> Password <span class="required">*</span></label>
                        <input class="form-control col-sm-2" type="text" name="password" id="password" ng-model="$parent.password" required/>
                    </div>
                </div>


                <div class="row">
                    <div class="form-group">
                        <p class="col-sm-3 col-sm-offset-1 required" ng-show="viewBalance.year.$invalid">Please enter a valid year</p>
                    </div>
                </div>


                <br />


                <div class="row">
                    <div class="form-group">
                        <label class="col-sm-2 text-center" for="fname"> First Name <span class="required">*</span></label>
                        <input class="form-control col-sm-2" type="text" name="fname" id="fname" ng-model="$parent.fname" required />

                        <label for="lname" class="col-sm-2 text-center"> Last Name <span class="required">*</span></label>
                        <input class="form-control col-sm-2" type="text" name="lname" id="lname" ng-model="$parent.lname" required />
                    </div>
                </div>


                <br />

                <div class="row">
                    <div class="form-group">
                        <label class="col-sm-2 text-center" for="userType"> User Type <span class="required">*</span></label>
                       <select class="form-control col-sm-2" name="userType" id="userType" ng-model="$parent.userType" required>
                            <option disabled selected value> -- select -- </option>
                            <option value=1 >Admin User</option>
                            <option value=2 >System User</option>
                        </select>

                    </div>
                </div>

                <br />


                <div class="row">
                    <div class="form-group">
                        <button class="btn btn-primary col-sm-1 col-sm-offset-9 text-center" type="submit" ng-click="AddUser()" ng-disabled="addUser.username.$error.required || addUser.password.$error.required || addUser.fname.$error.required || addUser.lname.$error.required || addUser.userType.$error.required"> Add User</button>
                    </div>
                </div>

            </form>
        </div>

    </div>
</div>
