<style>
    
.sidenav {
  
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 20px;
}

.sidenav a {
    padding: 6px 6px 6px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sectionHeader{
    color:black;
    background-color:whitesmoke;
    font-weight:bold;
    font-size:medium;
    text-align:center;
    padding:10px;
    border-width:2px;    
}

.navbarStyle{
    border:solid; 
    border-radius:5px; 
    border-width:2px;
    
}

</style>




<div style="height:5px"></div>


<div class="container">
    <div class="row">
        <button class="btn btn-primary col-sm-offset-11 col-sm-1" id="logout" ng-click="Logout()"> Logout </button>
    </div>
</div>



<div class="container">
    <h2 class="col-sm-12">Admin Dashboard</h2>
</div>
<br />




<!--<div class="container">
    <div class="row">
        <div class="col-sm-3 navbarStyle">
            <p class="sectionHeader"> Account Handling</p>
        </div>
        <div class="col-sm-9" style="background-color:green"></div>
    </div>
</div>-->






<div class="container">
    <div class="row">


        <div class="col-sm-4">
            <div class="panel panel-default">
                <div class="panel-heading panel-header-main">User Handling</div>
                <div class="panel-body text-center">
                    <div class="row container" style="align-content:center">
                        <button class="btn btn-primary" id="addUser" ng-click="HandleButtonPress($event)"> Add User</button>
                        <button class="btn btn-primary" id="deleteUser" ng-click="HandleButtonPress($event)"> Delete User</button>
                    </div>
                </div>
            </div>
        </div>


        <div class="col-sm-8">
            <div class="panel panel-default">
                <div class="panel-heading panel-header-main">Account Handling</div>
                <div class="panel-body text-center" >
                    <div class="row container">
                        <button class="btn btn-primary" id="uploadBalance" ng-click="HandleButtonPress($event)"> Upload Account Balance </button>
                        <button class="btn btn-primary" id="viewBalance" ng-click="HandleButtonPress($event)"> View Account Balance </button>
                        <button class="btn btn-primary" id="viewBalanceChart" ng-click="HandleButtonPress($event)"> View Balance Summary </button>
                    </div>
                </div>
            </div>
        </div>



    </div>
</div>

<div class="container">
    <ng-include src="viewPage"></ng-include>
</div>
