




<div class="container col-sm-10 col-sm-offset-1 ">
    <div class="panel panel-default">
        <div class="panel-heading"> Upload Account File  </div>

        <div class="panel-body">

            <form name="uploadBalance">
                <div class="row">
                    <div class="form-group">
                        <label class="col-sm-1 text-right" for="year">Year <span style="color:red">*</span></label>
                        <input class="form-control col-sm-2" type="number" name="year" id="year" ng-model="$parent.year" ng-maxlength="4" min="2016" placeholder="2016" />

                        <span class="col-sm-1 col-sm-offset-1 text-right" style="color:red">*</span><input class="col-sm-4" type="file"  name="file" id="file" accept=".txt,.xlsx,.xls" />

                    </div>
                </div>

                <div class="row">
                    <div class="form-group">
                        <p class="col-sm-3 col-sm-offset-1" style="color:red" ng-show="uploadBalance.year.$invalid">Please enter a valid year</p>

                    </div>
                </div>
              

                <br />

                <div class="row">
                    <div class="form-group">
                        <button class="btn btn-primary col-sm-1 col-sm-offset-9" type="submit" ng-click="UploadBalance()" ng-disabled="uploadBalance.year.$error.required ||  uploadBalance.year.$invalid || uploadBalance.year.$pristine ">Upload</button>
                    </div> 
                </div>

            </form>



        </div>

    </div>
</div>
