<div class="container col-sm-10 col-sm-offset-1 ">
    <div class="panel panel-default">
        <div class="panel-heading"> Upload Account Balance  </div>

        <div class="panel-body">
            <form name="ViewBalanceChart">
                <div class="row">
                    <div class="form-group">
                        <label class="col-sm-1" for="year">start Year</label>
                        <input class="form-control col-sm-3" type="number" name="startYear" id="startYear" ng-model="startYear" ng-maxlength="4" min="2000"/>

                        <label for="month" class="col-sm-1 col-sm-offset-1">Start Month</label>
                        <input class="form-control col-sm-3" type="number" name="startMonth" id="startMonth" ng-model="startMonth" ng-maxlength="2" min="1" max="12" />
                    </div>
                </div>

                <br />

                <div class="row">
                    <div class="form-group">
                        <p class="col-sm-3 col-sm-offset-1" style="color:red" ng-if="!ViewBalanceChart.startYear.$valid">Please enter a valid year</p>
                        <p class="col-sm-3 col-sm-offset-5" style="color:red" ng-if="!ViewBalanceChart.startMonth.$valid">Please enter a valid month</p>
                    </div>
                </div>

                <br />

                <div class="row">
                    <div class="form-group">
                        <label class="col-sm-1" for="year">End Year</label>
                        <input class="form-control col-sm-3" type="number" name="endYear" id="endYear" ng-model="endYear" ng-maxlength="4" min="2000"/>

                        <label for="month" class="col-sm-1 col-sm-offset-1">End Month</label>
                        <input class="form-control col-sm-3" type="number" name="endMonth" id="endMonth" ng-model="endMonth" ng-maxlength="2" min="1" max="12" />
                    </div>
                </div>

                <br />

                <div class="row">
                    <div class="form-group">
                        <p class="col-sm-3 col-sm-offset-1" style="color:red" ng-if="!ViewBalanceChart.endYear.$valid">Please enter a valid year</p>
                        <p class="col-sm-3 col-sm-offset-5" style="color:red" ng-if="!ViewBalanceChart.endMonth.$valid">Please enter a valid month</p>
                    </div>
                </div>

                <br />


                <div class="row">
                    <div class="form-group">
                        <button class="btn btn-primary col-sm-1 col-sm-offset-9" type="submit" ng-click="ViewBalanceChart()">View</button>
                    </div>
                </div>

            </form>
        </div>

    </div>
</div>
