<div class="container col-sm-10 col-sm-offset-1 ">
    <div class="panel panel-default">
        <div class="panel-heading"> View Account Balances </div>

        <div class="panel-body">
            <form name="viewBalance">
                <div class="row">
                    <div class="form-group">
                        <label class="col-sm-1 text-right" for="year">Year <span style="color:red">*</span></label>
                        <input class="form-control col-sm-2" type="number" name="year" id="year" ng-model="$parent.year" ng-maxlength="4" min="2016" placeholder="2016" ng-class="{ 'has-error' : viewBalance.year.$invalid && !viewBalance.year.$pristine}" />

                        <label for="month" class="col-sm-2 col-sm-offset-1 text-right">Month <span style="color:red">*</span></label>
                        <select class="form-control col-sm-2" name="month" id="month" ng-model="$parent.month" month-options></select>

                    </div>
                </div>

                <div class="row">
                    <div class="form-group">
                        <p class="col-sm-3 col-sm-offset-1" style="color:red" ng-show="viewBalance.year.$invalid">Please enter a valid year</p>
                    </div>
                </div>

                <br />

                <div class="row">
                    <div class="form-group">
                        <button class="btn btn-primary col-sm-1 col-sm-offset-9" type="submit" ng-click="ViewBalance()" ng-disabled="viewBalance.year.$error.required || viewBalance.month.$error.required || viewBalance.year.$invalid || viewBalance.month.$pristine || viewBalance.year.$pristine"> View</button>
                    </div>
                </div>

            </form>
        </div>

    </div>
</div>
