body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}


.required{
    color:red;
}

.panel-header-main{
    font-weight:bold;
}

.panel-header-normal{
    font-weight:600;
}

.modalViewBalanceChartCenter {
  position: absolute;
  left: 50%;
  top: 52%;
  transform: translate(-50%, -50%);
}

.modalViewBalanceCenter {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}